* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
}

.conteudo {
    display: flex;
    position: relative;
}

.conversa {
    width: 100%;
}

.topo {
    width: 100%;
    height: 80px;
    padding: 0 22px;
    font-size: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

topo img {
    width: 75px;
    height: 53px;
}

ion-icon {
    font-size: 50px;

}

ion-icon:hover {
    cursor: pointer;

}

.inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 16px 22px;
    align-items: center;
    background-color: #FFFFFF;

}

.inferior>ion-icon {
    font-size: 26px;
}
.caixa-mensagem{
    width: 100%;
}
.texto{
    
    width: 100%;
    border: none;
    outline: none;

}

.texto::placeholder {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
}

.caixa-mensagem p {
    color: #505050;
    font-weight: 300px;
    font-size: 14px;
}

.bate-papo {
    margin: 106px 0 84px 0;
}

li {
    list-style: none;
    width: 100%;
    border: 1px solid white;

}

.status,
.message,
.private_message {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    word-wrap: break-word;
    padding: 20px;
}

.time {

    color: #AAAAAA
}

.negrito {
    font-weight: 700;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #FFFFFF;
}

.private_message {
    background-color: pink;
}



.sidebar {
    height: 100%;
    position: fixed;
    padding: 20px 10px;
    background-color: #FFFFFF;
    width: 259px;
    z-index: 3;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0px;
    right: 0;


}

.sidebar ion-icon {
    font-size: 24px;
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 10px;
}

sidebar>span {
    display: flex;
}


.background-cinza {
    width: calc(100% - 259px);
    height: 100%;
    background-color: rgba(68, 66, 66, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

.person {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.person :nth-child(3),
.publico :nth-child(3),
.reservadamente :nth-child(3) {
    color: #FFFFFF;
}

.selecionado :nth-child(3) {
    color: green;
}

.visibilidade div {
    display: flex;
    align-items: center;
    padding: 5px;
}

.tela-login {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transform: scale(1);

}

.login {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login input {
    width: 261px;
    height: 54px;
    text-align: center;

    margin-bottom: 15px;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

}

.login button {
    background-color: #E7E7E7;
    border-radius: 9px;
    width: 109px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.login img {
    margin-bottom: 100px;
    width: 130px;
    height: 92px;
}

.loader {
    margin-top: 30px;
    animation: is-rotating 0.5s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #050505;
    height: 50px;
    width: 50px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

.escondido {
    display: none;

}